// Mixins Here

// sign up button parametric mixin

.signupbtn(@background, @color, @textalign) {
  width: 98%;
  border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px 0;
  background: @background;
  color: @color;
  text-align: @textalign;
  font-size: 1.8rem;
}
