// Navigation code here

.nav-container {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: @wild-sand;
  }

  .nav-logo {
    margin: 0 auto;

    h1 {
      font-size: 4rem;
      padding: 10px 0 20px;
    }
  }

  .nav-links {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 15px;
    display: flex;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: @river-bend;
      font-size: 1.7rem;
    }
  }
}